@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-y: auto;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    max-width: 1000px;
    background: white;
    overflow: hidden;
    align-items: stretch;
    gap: 24px;
}

.form-section {
    width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff; 
}

.voltar {
    text-decoration: none;
    color: #57534E;
    font-size: 16px;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
}

p {
    font-size: 16px;
    color: #292524;
    font-weight: 400;
    color: #57534E;
}

h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    font-weight: 400;
    color: #57534E;
    margin: 10px 0 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px; 
}

input:focus, select:focus, textarea:focus {
    outline: 2px solid #F3541C; 
    box-shadow: 0 0 5px #FEE7D6; 
}

.upload-documento, .upload-comprovante {
    width: 100%;
    padding: 15px;
    border: 2px dashed #ccc;
    text-align: center;
    color: #888;
    margin-bottom: 15px;
    cursor: pointer;
}

#documento, #comprovante {
    display: none; 
}

.endereco-group {
    display: flex;
    gap: 48px;
}

.rua {
    background-color: #E7E5E4;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #8F8881;
}

.cidade {
    background-color: #E7E5E4;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #8F8881;
}

.uf {
    background-color: #E7E5E4;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #8F8881;
}

.endereco-group div {
    flex: 1;
}

.mensagem-erro {
    font-family: 'Poppins', sans-serif;
    color: #DC2626;
    font-size: 14px;
    font-weight: 400;
    display: block;
}

.trilhas {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.trilha {
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000CC;
    padding-top: 32px;
    padding-right: 16px;
    padding-bottom: 16px;
    padding-left: 16px;
    gap: 8px;
    border: 1px solid #D6D3D1;
    border-radius: 8px;
    text-align: center;
    flex: 1;
    cursor: pointer;
}

.trilha.selecionada {
    border: 2px solid #F3541C;
}

.checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.checkbox input {
    margin-right: 8px;
}

.link {
    color: red;
    text-decoration: underline;
    cursor: pointer;
}


.botoes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.cancelar {
    background-color: white;
    color: red;
    border: 1px solid red;
}

.inscricao {
    background-color: red;
    color: white;
}

.imagem-section {
    width: 50%; 
    height: 800px;
    background-color: #2135A6;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 20px;
    position: relative;
}

.imagem-section img:first-child {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50%; 
    top: 140px;
    transform: translateX(-50%);
}

.imagem-section img:last-child {
    position: absolute;
    bottom: 40px; 
    width: 212.25px;
    height: 26.49px;
}






